* {
    box-sizing: border-box;
}

.row {
    overflow: hidden;
    padding: 10px 10px;
    background-color: #1a1a1f;
    box-shadow: 0 5px 10px -1px rgba(0, 0, 0, .1), 0 4px 6px -1px rgba(0, 0, 0, .05);
    display: flex;
    clear: both;
}

::placeholder {
    color: #b5b5b5;
    opacity: 1;
}

:focus, .column-middle .search-input:hover {
    outline: none;
    box-shadow: 0 0 0 2px #8541eb;
    filter: blur(0.5px);
}

:focus {
    box-shadow: none;
}

.column {
    width: 33.33%;
    padding: 10px;
}

.column a {
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    border-radius: 4px;
    color: #f2f2f2;
}

.column .column-logo {
    font-size: 25px;
    font-weight: bold;
}

.column a:hover {
    color: #9458ed;
}

.column-middle {
    width: 33.33%;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.column-middle .search-input {
    font-size: 2rem;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #515151;
    color: whitesmoke;
}

.column-middle .search-button {
    font-size: 2rem;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #515151;
}

.column-middle .search-button:hover {
    background-color: #5d5d5d;
    cursor: pointer;
    box-shadow: 0 0 0 1.5px #8541eb;
    filter: blur(0.5px);
}

.column-right {
    width: 33.33%;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.column-right .avatar {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    background-color: white;
}

.column-right p {
    font-size: 15px;
    font-weight: bold;
    color: #c9c9c9;
    line-height: 20px;
}

.column-right .btn {
    margin-right: 1rem;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #515151;
    height: 50px;
    display: inline-block;
    align-items: center;
}

.column-right button:hover {
    box-shadow: 0 0 0 1.5px #8541eb;
    filter: blur(0.5px);
    cursor: pointer;
}

.column-right .avatar:hover {
    box-shadow: 0 0 0 2px #8541eb;
    filter: blur(0.5px);
    cursor: pointer;
}

.column-right .user-label {
    margin-right: 1rem;
}

@media screen and (max-width: 855px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-middle {
        position: relative;
        display: block;
        float: left;
        left: 0%;
        padding-top: 1rem;
    }
    .header-right {
        padding-top: 1rem;
        padding-left: 1rem;
        padding-bottom: 1rem;
        left: 2.5rem;
        position: relative;
        float: left;
    }
    .header-middle .search-button {
        top: 65%;
    }
}