* {
    box-sizing: border-box;
}

.row {
    overflow: hidden;
    background-color: #1a1a1f;
    box-shadow: 0 5px 10px -1px rgba(0, 0, 0, 0.1), 0 4px 6px -1px rgba(0, 0, 0, 0.05);
    display: flex;
    clear: both;
}

::placeholder {
    color: #b5b5b5;
    opacity: 1;
}

:focus,
.column-middle .search-input:hover {
    outline: none;
    box-shadow: 0 0 0 2px #8541eb;
    filter: blur(0.5px);
}

:focus {
    box-shadow: none;
}

.column {
    width: 33.33%;
    padding: 1rem;
}

.column a {
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    border-radius: 4px;
    color: #f2f2f2;
}

.column .column-logo {
    font-size: 25px;
    font-weight: bold;
}

.column a:hover {
    color: #9458ed;
}

.column-middle {
    width: 33.33%;
    padding: 1.5rem;
    justify-content: center;
    text-align: center;
}

.column-middle .search-input {
    vertical-align: top;
    display: inline-block;
    font-weight: 400;
    border: 0;
    width: 80%;
    max-width: 500px;
    height: 38px;
    margin: 0;
    font-size: 1.5rem;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #515151;
    color: whitesmoke;
}

.column-middle .search-button {
    vertical-align: top;
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    min-width: 10%;
    max-width: 50px;
    height: 38px;
    margin: 0;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #515151;
}

.column-middle .search-button-invalid {
    vertical-align: top;
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    min-width: 10%;
    max-width: 50px;
    height: 38px;
    margin: 0;
    border: 1px solid black;
    border-radius: 4px;
    background-color: black;
    cursor: not-allowed;
}

.column-middle .search-button-icon {
    margin-left: auto;
    margin-right: auto;
    display: block !important;
    font-size: 1.5rem;
}

.column-middle .search-button:hover {
    background-color: #5d5d5d;
    cursor: pointer;
    box-shadow: 0 0 0 1.5px #8541eb;
    filter: blur(0.5px);
}

.column-right {
    width: 33.33%;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}

.column-right .avatar {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    background-color: white;
}

.column-right p {
    font-size: 15px;
    font-weight: bold;
    color: #c9c9c9;
    line-height: 20px;
}

.column-right .avatar:hover {
    box-shadow: 0 0 0 2px #8541eb;
    filter: blur(0.5px);
    cursor: pointer;
}

.column-right .user-label {
    margin-right: 1rem;
}

.btn-custom {
    margin-right: 1rem;
}

@media screen and (max-width: 720px) {
    .row {
        display: grid;
    }
    .column {
        width: 100%;
        justify-content: center;
    }
    .column-middle {
        width: 100%;
        justify-content: center;
    }
    .column-right {
        width: 100%;
        justify-content: center;
    }
}
