@import "../../components/Common/colors.scss";

.swal2-popup {
    box-shadow: 0 0 0.625em #202025 !important;
}

.swal2-timer-progress-bar {
    background-color: $light-gray !important;
}

.modal {
    background-color: #1a1a1f;
    border-radius: 10px;
    width: 500px;
    height: 420px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 1.5px black;
    border-radius: 4px;
}

.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-close {
    margin-left: auto;
    font-size: 3rem;
    border: none;
    background: none;
    cursor: pointer;
}

.form-label {
    margin-right: auto;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    color: #c9c9c9;
    line-height: 20px;
}

.form-label-error {
    margin: 0;
    font-size: 15px;
    font-weight: bold;
    color: $slight-gray;
}

.form-input {
    display: flex;
    margin: 0.75rem;
    font-size: 1.75rem;
    width: 420px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #515151;
    color: whitesmoke;
}

.form-input-error {
    display: flex;
    margin: 0.75rem;
    font-size: 1.75rem;
    width: 420px;
    border: 1px solid red;
    border-radius: 4px;
    background-color: #515151;
    color: whitesmoke;
}

.form-input:hover {
    box-shadow: 0 0 0 2px $light-gray;
}

.form-input:focus {
    box-shadow: 0 0 0 2px #8541eb;
    background-color: #252525 !important;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(4px);
}

.logo {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    position: absolute;
    top: 10%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #f2f2f2;
}

.btn-close:hover {
    background: #b5b5b5;
}

.form-button {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #515151;
    width: 420px;
    cursor: pointer;
}

.form-button:hover {
    background-color: $medium-gray;
    box-shadow: 0 0 0 1.5px $light-gray;
    filter: blur(0.5px);
    cursor: pointer;
}

.form-label-button {
    font-size: 16px;
    font-weight: bold;
    color: #c9c9c9;
}
