.user-menu-modal {
    background-color: #1a1a1f;
    border-radius: 10px;
    width: 350px;
    height: 380px;
    float: right;
    margin-top: 5rem;
    /* margin: 0; */
    /* position: absolute; */
    /* top: 26%; */
    /* left: 90%; */
    /* -ms-transform: translate(-50%, -50%); */
    /* transform: translate(-50%, -50%); */
    box-shadow: 0 0 0 1.5px black;
    border-radius: 4px;
}

.user-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.form-input-email:hover {
    box-shadow: 0 0 0 2px #f2f2f2;
}

.form-input-senha:hover {
    box-shadow: 0 0 0 2px #f2f2f2;
}

.form-input-email:focus, .form-input-senha:focus {
    box-shadow: 0 0 0 2px #8541eb;
    background-color: #252525 !important
}

.logo {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    position: absolute;
    top: 10%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #f2f2f2;
}

.modal .btn-close {
    float: right;
    font-size: 3rem;
    border: none;
    background: none;
    cursor: pointer;
}

.modal .btn-close:hover {
    background: #b5b5b5;
}

.form-login {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.form-login .form-input-email, .form-input-senha {
    display: flex;
    margin: 1rem;
    font-size: 2rem;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #515151;
    color: whitesmoke;
}

.form-login .form-button {
    display: flex;
    margin: 1rem;
    margin-top: 2rem;
    font-size: 2rem;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #515151;
    width: 24.2rem;
    cursor: pointer;
}

.form-login .form-button:hover {
    display: flex;
    margin: 1rem;
    margin-top: 2rem;
    font-size: 2rem;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #747474;
    width: 24.2rem;
    cursor: pointer;
}

.form-login .form-label {
    margin: 1rem;
    font-size: 15px;
    font-weight: bold;
    color: #c9c9c9;
    line-height: 20px;
}

.form-login .form-label-button {
    margin-left: 10rem;
    font-size: 16px;
    font-weight: bold;
    color: #c9c9c9;
    line-height: 20px;
}